extends layout

block content
    h1= title
    if(todo.detail==null)
        h2=todo.title
    //- pre= todo.desc
    textarea.form-control(rows='4', cols='50', readonly='')=todo.desc
    hr
    a.btn.btn-default(href=refEdit) Edit
    a.btn.btn-danger.delete-todo(href='#', data-id=todo._id) Delete
    a.btn.btn-primary.float-right(href=ref) #{stats}
    - var index=0;
    if(todo.detail!=null)
        hr
        a.btn.btn-default(href='/todos/add/detail/'+todo._id) Tambah Detail
        ul.list-group
            each todoD, i in todo.detail
                li.list-group-item
                    a(href='/todos/'+todo._id+'/'+todoD._id)=todoD.title